
<div id="login">

    <legend class=".bs-callout-info h4">Login with </legend>

    <div class="bg-info">
        <div ng-repeat="login in loginTypes(widget.socialLogin.data)" class="thumb">
            <a class="btn btn-primary" ng-show="login.id !== 'googleplus'" ng-href="/backend/widgets/{{widget._id}}/login/{{login.id}}">
                <i class="fa fa-sign-in fa-2x pull-left -{{login.id}}"><h5> Login </h5></i>
            </a>
        </div>

  <legend> </legend>

        <a class="btn btn-primary">
        <div id="googleplus" ng-show="hasGoogleplus()"></div>
        </a>
    </div>

</div>


