<div layout>

    <h3>Cloud node mappings for pool {{ model.poolId }}</h3>
    <button ng-click="getCloudNodes(model.poolId)">refresh</button>

    <table>
        <thead>
            <tr>
                <th>Node ID</th>
                <th>Machine ID</th>
                <th>Machine IP</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody ng-show="model.poolCloudNodes">
            <tr ng-repeat="cloudNode in model.poolCloudNodes" ng-show="cloudNode.nodeId === -1 || cloudNode.ip === null">
                <!-- Show only 'problematic' nodes -->
                <td>{{ cloudNode.nodeId }}</td>
                <td>{{ cloudNode.machineId }}</td>
                <td><pre>{{ cloudNode.ip | json }}</pre></td>
                <td>
                    <button ng-click="deleteCloudNode(model.poolId, cloudNode)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="model.poolCloudNodes === 0">
            <tr>
                <td colspan="3">Loading...</td>
            </tr>
        </tbody>
    </table>
</div>
