<div layout>
    <a href="#/widgets/{{widget._id}}/update">Edit</a>
    <!--<a href="#/dashboard">Dashboard</a>-->
    <pre>{{ widget | json }}</pre>

    <!--<div widget-embed widget="widget"></div>-->

    <!--post message inner frame test-->
    <!-- TODO FIXME figure out how to put inner frame without it being empty -->
    <div ng-controller="WidgetsDefaultCtrl">
        <hr />

        <button class="btn" ng-click="play()"> <i class="fa fa-play"> post play</i></button>
        <button class="btn" ng-click="stop()"> <i class="fa fa-stop"> post stop</i></button>
        <br />
        <div widget-embed widget="widget" theme="theme"></div>
    </div>
</div>
