<div layout>
    <h2> Edit widget </h2>

    <div class="row" ng-include src="'views/widget/_widgetForm.html'"></div>

    <div class="row">
       <!-- <button class="btn" ng-click="update()">Update</button>-->

        <!--<button class="btn" ng-click="view()">Save & View</button>-->

        <!--<button class="btn" ng-click="delete()">Delete</button>-->
        <span title="Update"><a   href="" ng-click="update()"><i class="fa fa-cloud-upload fa-1x"><h7> Update</h7></i></a></span>
        <span title="Done"><a href=""  ng-click="done()"><i class="fa fa-flag-checkered fa-1x"><h7> Done</h7></i></a></span>
        <span title="Save and View"><a  href="" ng-click="view()"><i class="fa fa-floppy-o fa-1x">    <i class="fa fa-eye fa-1x"></i><h7> Save and View</h7></i></a></span>
        <span title="Delete"><a  href="#/dashboard" ng-click="delete()"><i class="fa fa-trash-o fa-1x"> <h7>Delete</h7></i></a></span>
        <span title="Cancel"><a  href="#/dashboard"><i class="fa fa-times fa-1x"><h7> Cancel </h7></i></a></span>
    </div>
</div>
