<div layout id="accountPoolEdit">
    <div class="row">
        <form name="poolForm" class="pool-form col-md-3">
            <div class="row">
                <span class="col-md-5">Min nodes : </span>
                <input name="minNodes" class="minmax col-md-7" type="number" ng-model="pool.poolSettings.minNodes"
                       ng-change="validate(poolForm)">
            </div>
            <div class="row">
                <span class="col-md-5">Max nodes : </span>
                <input name="maxNodes" class="minmax col-md-7" type="number" ng-model="pool.poolSettings.maxNodes"
                       ng-change="validate(poolForm)"><br/>
            </div>
            <div class="row">
                <span class="col-md-12" ng-show="poolForm.$error.minmax">Min nodes must be lower than Max nodes.</span>
                <span class="col-md-12"
                      ng-show="poolForm.$error.number">Min and Max nodes are numeric values only.</span>
            </div>
            <div class="row">
                <span class="col-md-5">Approval mode : </span>
                <select class="col-md-7" ng-model="pool.poolSettings.nodeManagement.mode" ng-options="c for c in poolApprovalModes"></select>
            </div>
        </form>
    </div>
    <div class="row actions">
        <button ng-click="save()" ng-disabled="poolForm.$invalid">Save</button>
    </div>

</div>