<div layout id="dashboard">

    <div class="actions">
        <a href="#/widgets/create">Add Widget</a>
    </div>

    <div class="col-md-6">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Product</th>
                <th>Recipe</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="widget in widgets">
                <td>
                    {{widget.productName}}
                </td>
                <td>
                    {{widget.recipeName}}
                </td>
                <td>
                    {{widget.title}}
                </td>
                <td>
                    <span title="Edit"><a class = "btn" href="#/widgets/{{widget._id}}/update"><i class="fa fa-pencil-square-o fa-2x"></i></a></span>

                    <span title="View"><a class = "btn" href="#/widgets/{{widget._id}}/read"><i class="fa fa-eye fa-2x"></i></a></span>

                    <span title="Delete"><a class = "btn" ng-click="delete( widget )"><i class="fa fa-trash-o fa-2x"></i></a></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
