<div ng-show="needsLogin" id="login">
    <div class="error">
        {{pageError}}
    </div>
    <div class="center-block container col-md-12">
        <form ng-submit="login()" class=" col-md-12">
            <div class="row">
                <span class="col-md-5">{{ 'login.username' | i18n }}</span>
                <input class="col-md-7" ng-model="page.email"/>
            </div>
            <div class="row">
                <span class="col-md-5">{{ 'login.password' | i18n }}</span>
                <input class="col-md-7" ng-model="page.password" type="password"/>
            </div>
            <div class="row pull-right">
                <input type="submit" value="{{ 'global.buttons.submit' | i18n }}"/>
            </div>
            <div class="row pull-left" style="margin-left: 30px">
                <span>{{ 'login.noAccount' | i18n}}</span>
                <a ng-href="#/signup">{{ 'login.signup' | i18n }}</a>
            </div>
        </form>
    </div>
</div>
