<div id="login">
    <div clas="error">
        {{pageError}}
    </div>

    <div class="center-block container col-md-12">
        <form ng-submit="signup()" class=" col-md-12">
            <div class="row">
                <span class="col-md-5">Email : </span>
                <input class="col-md-7" ng-model="userSignup.email"/>
            </div>
            <div class="row">
                <span class="col-md-5">First Name : </span>
                <input class="col-md-7" ng-model="userSignup.firstName"/>
            </div>
            <div class="row">
                <span class="col-md-5">Last Name : </span>
                <input class="col-md-7" ng-model="userSignup.lastName"/>
            </div>
            <div class="row">
                <span class="col-md-5">Password : </span>
                <input class="col-md-7" ng-model="userSignup.password" type="password"/>
            </div>
            <div class="row">
                <span class="col-md-5">Password Confirm : </span>
                <input class="col-md-7" ng-model="userSignup.passwordConfirm" type="password"/>
            </div>
            <div class="row pull-right">
                <input type="submit" value="{{ 'global.buttons.submit' | i18n }}"/>
            </div>
        </form>
    </div>
</div>